# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so.*

# Executables
*.exe
*.out
*.app

# Gcov data files
*.gcno
*.gcda

# build dir
build

# cscope
cscope.*

# backups
*~
*.swp

#log files
*.log
*.csv
*.cmd

# kernel directories created by xfstests and create-test-env.sh
linux-*/

# macOS Finder metadata
.DS_Store

# IDE files
.vscode/
